.input-group {
    display:flex;
    flex-direction: column;
    margin-bottom: $med-size;

    @media(min-width: $desktop-breakpoint) { /* for larger screens */
        flex-direction: row;
        margin-bottom: $l-size;
    }
}

.input-group__item {
    margin-bottom: $s-size;
    margin-right: $s-size;

    @media(min-width: $desktop-breakpoint) { /* for larger screens */
        margin: 0 $s-size 0 0;
    }
    

}


.input-labels {
    display: flex;
    justify-content: space-between;
    margin-top: $l-size;
}

.group-input {
    display: flex;
    justify-content: space-between;
}